<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <a href="#" class="left-sidebar-toggle">Dashboard</a>
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li class="divider">Menu</li>
                        <li class="active">
                            <a href="index-1.htm"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Patient",new { area="app"})"><i class="icon mdi mdi-face"></i><span>Patient</span></a>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-face"></i><span>UI Elements</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="ui-alerts.htm">Alerts</a>
                                </li>
                                <li>
                                    <a href="ui-buttons.htm">Buttons</a>
                                </li>
                                <li>
                                    <a href="ui-panels.htm">Panels</a>
                                </li>
                                <li>
                                    <a href="ui-general.htm">General</a>
                                </li>
                                <li>
                                    <a href="ui-modals.htm">Modals</a>
                                </li>
                                <li>
                                    <a href="ui-notifications.htm">Notifications</a>
                                </li>
                                <li>
                                    <a href="ui-icons.htm">Icons</a>
                                </li>
                                <li>
                                    <a href="ui-grid.htm">Grid</a>
                                </li>
                                <li>
                                    <a href="ui-tabs-accordions.htm">Tabs &amp; Accordions</a>
                                </li>
                                <li>
                                    <a href="ui-nestable-lists.htm">Nestable Lists</a>
                                </li>
                                <li>
                                    <a href="ui-typography.htm">Typography</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="charts.html"><i class="icon mdi mdi-chart-donut"></i><span>Charts</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="charts-flot.htm">Flot</a>
                                </li>
                                <li>
                                    <a href="charts-sparkline.htm">Sparklines</a>
                                </li>
                                <li>
                                    <a href="charts-chartjs.htm">Chart.js</a>
                                </li>
                                <li>
                                    <a href="charts-morris.htm">Morris.js</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-dot-circle"></i><span>Forms</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="form-elements.htm">Elements</a>
                                </li>
                                <li>
                                    <a href="form-validation.htm">Validation</a>
                                </li>
                                <li>
                                    <a href="form-multiselect.htm">Multiselect</a>
                                </li>
                                <li>
                                    <a href="form-wizard.htm">Wizard</a>
                                </li>
                                <li>
                                    <a href="form-masks.htm">Input Masks</a>
                                </li>
                                <li>
                                    <a href="form-wysiwyg.htm">WYSIWYG Editor</a>
                                </li>
                                <li>
                                    <a href="form-upload.htm">Multi Upload</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-border-all"></i><span>Tables</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="tables-general.htm">General</a>
                                </li>
                                <li>
                                    <a href="tables-datatables.htm">Data Tables</a>
                                </li>
                                <li>
                                    <a href="tables-filters.htm"><span class="badge badge-primary float-right">New</span>Table Filters</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-layers"></i><span>Pages</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="pages-blank.htm">Blank Page</a>
                                </li>
                                <li>
                                    <a href="pages-blank-header.htm">Blank Page Header</a>
                                </li>
                                <li>
                                    <a href="pages-login.htm">Login</a>
                                </li>
                                <li>
                                    <a href="pages-login2.htm">Login v2</a>
                                </li>
                                <li>
                                    <a href="pages-404.htm">404 Page</a>
                                </li>
                                <li>
                                    <a href="pages-sign-up.htm">Sign Up</a>
                                </li>
                                <li>
                                    <a href="pages-forgot-password.htm">Forgot Password</a>
                                </li>
                                <li>
                                    <a href="pages-profile.htm">Profile</a>
                                </li>
                                <li>
                                    <a href="pages-pricing-tables.htm">Pricing Tables</a>
                                </li>
                                <li>
                                    <a href="pages-pricing-tables2.htm">Pricing Tables v2</a>
                                </li>
                                <li>
                                    <a href="pages-timeline.htm">Timeline</a>
                                </li>
                                <li>
                                    <a href="pages-timeline2.htm">Timeline v2</a>
                                </li>
                                <li>
                                    <a href="pages-invoice.htm"><span class="badge badge-primary float-right">New</span>Invoice</a>
                                </li>
                                <li>
                                    <a href="pages-calendar.htm">Calendar</a>
                                </li>
                                <li>
                                    <a href="pages-gallery.htm">Gallery</a>
                                </li>
                                <li>
                                    <a href="pages-code-editor.htm"><span class="badge badge-primary float-right">New    </span>Code Editor</a>
                                </li>
                                <li>
                                    <a href="pages-booking.htm"><span class="badge badge-primary float-right">New</span>Booking</a>
                                </li>
                                <li>
                                    <a href="pages-loaders.htm"><span class="badge badge-primary float-right">New</span>Loaders</a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider">Features</li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-inbox"></i><span>Email</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="email-inbox.htm">Inbox</a>
                                </li>
                                <li>
                                    <a href="email-read.htm">Email Detail</a>
                                </li>
                                <li>
                                    <a href="email-compose.htm">Email Compose</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-view-web"></i><span>Layouts</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="layouts-primary-header.htm">Primary Header</a>
                                </li>
                                <li>
                                    <a href="layouts-success-header.htm">Success Header</a>
                                </li>
                                <li>
                                    <a href="layouts-warning-header.htm">Warning Header</a>
                                </li>
                                <li>
                                    <a href="layouts-danger-header.htm">Danger Header</a>
                                </li>
                                <li>
                                    <a href="layouts-search-input.htm"><span class="badge badge-primary float-right">New</span>Search Input</a>
                                </li>
                                <li>
                                    <a href="layouts-offcanvas-menu.htm"><span class="badge badge-primary float-right">New</span>Off Canvas Menu</a>
                                </li>
                                <li>
                                    <a href="layouts-nosidebar-left.htm">Without Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="layouts-nosidebar-right.htm">Without Right Sidebar</a>
                                </li>
                                <li>
                                    <a href="layouts-nosidebars.htm">Without Both Sidebars</a>
                                </li>
                                <li>
                                    <a href="layouts-fixed-sidebar.htm">Fixed Left Sidebar</a>
                                </li>
                                <li>
                                    <a href="layouts-boxed-layout.htm"><span class="badge badge-primary float-right">New</span>Boxed Layout</a>
                                </li>
                                <li>
                                    <a href="pages-blank-aside.htm">Page Aside</a>
                                </li>
                                <li>
                                    <a href="layouts-collapsible-sidebar.htm">Collapsible Sidebar</a>
                                </li>
                                <li>
                                    <a href="layouts-sub-navigation.htm"><span class="badge badge-primary float-right">New</span>Sub Navigation</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-pin"></i><span>Maps</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="maps-google.htm">Google Maps</a>
                                </li>
                                <li>
                                    <a href="maps-vector.htm">Vector Maps</a>
                                </li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="#"><i class="icon mdi mdi-folder"></i><span>Menu Levels</span></a>
                            <ul class="sub-menu">
                                <li class="parent">
                                    <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 1</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                                        </li>
                                        <li class="parent">
                                            <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="parent">
                                    <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 1</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                                        </li>
                                        <li class="parent">
                                            <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 2</span></a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon mdi mdi-undefined"></i><span>Level 3</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="progress-widget">
            <div class="progress-data"><span class="progress-value">60%</span><span class="name">Current Project</span></div>
            <div class="progress">
                <div style="width: 60%;" class="progress-bar progress-bar-primary"></div>
            </div>
        </div>
    </div>
</div>
